Source: libtest-environment-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5.0.0)
Build-Depends-Indep: perl (>= 5.8.8-7etch1)
Maintainer: Jozef Kutej <jozef@kutej.net>
Standards-Version: 3.7.2

Package: libtest-environment-perl
Architecture: all
Depends: ${perl:Depends},
 ${misc:Depends},
 libtest-differences-perl,
 libcarp-clan-perl,
 libfile-slurp-perl,
 libstring-shellquote-perl,
 liblist-moreutils-perl
Description:  Base module for loading Test::Environment::Plugin::*
 This is the base module to load Test::Environment::Plugin::* modules.
 .
 Also sets:
 .
 $ENV{'RUNNING_ENVIRONMENT'} = 'testing';
 .
 The plugins will export their routines so you can use them in your tests.
